@import "tailwindcss";

* {
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  /*BACKGROUND*/
  --primary-bg-color: rgb(255, 250, 250);
  --secondary-bg-color: rgb(255, 250, 250);

  /*ELEMENTS*/
  --primary-color: rgb(215, 120, 5);
  --secondary-color: rgb(255, 210, 162);


  /*TEXT*/
  --primary-text-color: rgb(245,245,255);
  --secondary-text-color: rgb(255,225,155);

  /*BUTTONS*/
  --button-confirm: rgb(50, 200, 40);
  --button-cancel: rgb(245, 10, 10);
}